.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home {
  padding: 30px;
  background-color: #ddd;
  height: 100vh;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#leaflet-map {
  height: 100vh;
  width: 100%;
}

/* .feature-popup {
  width: 160px;
} */

.feature-popup h3 {
  padding: 2px 0;
  margin: 0;
}

.feature-popup table, tbody {
  width: 100%;
}

.feature-popup td {
  padding: 2px 5px;
  width: 50%;
  border: 1px solid #ccc;
}

.feature-popup td:first-child {
  padding: 2px 5px;
  width: 50%;
  color: #ddd;
  background-color: #777;
  border: 1px solid #777;
}

.fridge-popup {
  padding: 0;
  margin: 0;

  max-width: 200px;
}

.fridge-popup p {
  padding: 5px 0;
  margin: 0;
}

.fridge-popup--title {
  padding: 2px 0;
  margin: 0;
}

.fridge-popup--title {
  padding: 0;
  margin: 0;
}

.fridge-popup--content {
  padding: 0;
  margin: 0;


  /* background-color: coral; */
  /* display: flex;
  flex-direction: row; */
}

.fridge-popup--content ul {
  padding: 0 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.fridge-popup--content li {
  margin: 5px 0;
}

/* .fridge-popup--content button {
  background-color: #61dafb;

  padding: 5px;
  margin: 5px;
} */